@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Microsoft.AspNetCore.Http

@model CaRental.Web.Database.Models.Car;
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["IsAdmin"] = @httpContextAccessor?.HttpContext?.Session.GetString("IsAdmin");
    ViewData["UserEmail"] = @httpContextAccessor?.HttpContext?.Session.GetString("UserEmail");
}

<tr>
    <td style="width: 8%">
        <img src="@Model.ImageUrl" width="100px" height="50px"/>
    </td>
    <td style="width: 10%">@Model.Manufacturer</td>
    <td style="width: 10%">@Model.Model</td> 
    <td style="width: 10%">@Model.Type.ToString()</td>
    <td style="width: 10%">@Model.FuelType.ToString()</td>
    <td style="width: 22%">
        @Html.Raw(Model.Description)
    </td>
    <td style="width: 8%">@Model.YearOfManufacture</td>
    <td style="width: 8%">@($"{Model.RentalPrice.ToString("0.00")} €")</td>
    <td style="width: 8%">
        @{
            if (bool.Parse(ViewData["IsAdmin"]?.ToString() ?? "false"))
            {
                <button style="width: 100%" type="button" class="btn btn-outline-danger" onclick="window.location.href='@Url.Action("OnDeleteCarClick", "Car", @Model)'">
                    Remove
                </button>
                <button style="width: 100%" type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateCarModal" onclick="setDataInUpdateCarModal(@JsonSerializer.Serialize(Model))">
                    Update
                </button>
            }
            else
            {
                <button style="width: 100%" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#rentCarModal" onclick="setDataInRentCarModal('@Model.VIN', '@httpContextAccessor?.HttpContext?.Session.GetString("UserEmail")')">
                    Rent
                </button>
            }
        }
    </td>
</tr>

<script>
    function setDataInUpdateCarModal(car) {
        $("#updateCarModal .modal-body #inputVIN").val(car.VIN);
        $("#updateCarModal .modal-body #inputManufacturer").val(car.Manufacturer);
        $("#updateCarModal .modal-body #inputModel").val(car.Model);
        $("#updateCarModal .modal-body #inputType").val(car.Type);
        $("#updateCarModal .modal-body #inputFuelType").val(car.FuelType);
        $("#updateCarModal .modal-body #inputDescription").val(car.Description);
        $("#updateCarModal .modal-body #inputYearOfManufacture").val(car.YearOfManufacture);
        $("#updateCarModal .modal-body #inputRentalPrice").val(car.RentalPrice);
        $("#updateCarModal .modal-body #inputImageUrl").val(car.ImageUrl);
    }

    function setDataInRentCarModal(vin, userEmail) {
        $("#rentCarModal .modal-body #inputEmail").val(userEmail);
        $("#rentCarModal .modal-body #inputVIN").val(vin);
    }
</script>
