@using CaRental.Web.Database.Models
@using Microsoft.AspNetCore.Http

@model CarListViewModel
@inject IHttpContextAccessor httpContextAccessor   

@{
    ViewData["Title"] = "Car list";
    ViewData["IsAdmin"] = @httpContextAccessor?.HttpContext?.Session.GetString("IsAdmin");
}

<style>
    .container {
        margin: 1% 0;
        max-width: 100%;
    }

    .card {
        border-radius: 5px;
    }

    .card-header, .control-label {
        font-weight: bold;
    }
</style>

@await Html.PartialAsync("_addCar", new Car())
@await Html.PartialAsync("_updateCar", new Car())
@await Html.PartialAsync("_rentCar", new Rental())

<div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div class=card>
                <div class="card-header">
                    Filters
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("List", "Car", FormMethod.Get, new { onChange = "this.submit();" }))
                    {
                        <div class="row">
                            <div class="col-md-1">
                                <label class="control-label">Manufacturer:</label>
                                @Html.DropDownListFor(car => car.Filter.Manufacturer, Model?.Cars?.Any() == true ? Model.Cars.DistinctBy(car => car.Manufacturer).Select(car => new SelectListItem {Value = car.Manufacturer, Text = car.Manufacturer, Selected = car.Manufacturer.Equals(Model.Filter.Manufacturer)}) : new List<SelectListItem>(), "All" ,new { @class = "form-select" })
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">Type:</label>
                                @Html.DropDownListFor(car => car.Filter.Type, Model?.Cars?.Any() == true ? Model.Cars.DistinctBy(car => car.Type).Select(car => new SelectListItem {Value = car.Type.ToString(), Text = car.Type.ToString(), Selected = car.Type == Model.Filter.Type}) : new List<SelectListItem>(), "All", new { @class = "form-select" })
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">Fuel type:</label>
                                @Html.DropDownListFor(car => car.Filter.FuelType, Model?.Cars?.Any() == true ? Model.Cars.DistinctBy(car => car.FuelType).Select(car => new SelectListItem {Value = car.FuelType.ToString(), Text = car.FuelType.ToString(), Selected = car.FuelType == Model.Filter.FuelType}) : new List<SelectListItem>(), "All", new { @class = "form-select" })
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">Manuf. from:</label>
                                @Html.DropDownListFor(car => car.Filter.ManufacturedFrom, Enumerable.Range(2000, DateTime.Now.Year - 1999).Select(year => new SelectListItem{ Value = year.ToString(), Text = year.ToString(), Selected = Model != null && year == Model.Filter.ManufacturedFrom}), new { @class = "form-select"})
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">Manuf. to:</label>
                                @Html.DropDownListFor(car => car.Filter.ManufacturedTo, Enumerable.Range(2000, DateTime.Now.Year - 1999).Select(year => new SelectListItem{ Value = year.ToString(), Text = year.ToString(), Selected = Model != null && year == Model.Filter.ManufacturedTo}), @DateTime.Now.Year.ToString(), new { @class = "form-select"})
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">Price from:</label>
                                @Html.TextBoxFor(car => car.Filter.PriceFrom, new { @class = "form-control", type = "number", step = "0.25", min = "0"})
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">Price to:</label>
                                @Html.TextBoxFor(car => car.Filter.PriceTo, new { @class = "form-control", type = "number", step = "0.25", min = "0"})
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="Filter.RentFrom" class="control-label">From:</label>
                                <input asp-for="Filter.RentFrom" class="form-control" />
                                <span asp-validation-for="Filter.RentFrom" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="Filter.RentTo" class="control-label">To:</label>
                                <input asp-for="Filter.RentTo" class="form-control" />
                                <span asp-validation-for="Filter.RentTo" class="text-danger"></span>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary" style="margin-top: 24px" onclick="window.location.href='@Url.Action("List", "Car", new { ResetFilters = true})'">
                                    Reset filters
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @(bool.Parse(ViewData["IsAdmin"]?.ToString() ?? "false") ? "All cars" : "Available cars")
                </div>
                <div class=card-body>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Manufacturer</th>
                                <th scope="col">Model</th>
                                <th scope="col">Type</th>
                                <th scope="col">Fuel Type</th>
                                <th scope="col">Description</th>
                                <th scope="col">Year of manufacture</th>
                                <th scope="col">Rental price</th>
                                @{
                                    if (bool.Parse(ViewData["IsAdmin"]?.ToString() ?? "false"))
                                    {
                                        <th scope="col">
                                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addCarModal">
                                                Add car
                                            </button>
                                        </th>
                                    }
                                    else
                                    {
                                        <th scope="col"></th>
                                    }
                                }
                            </tr>
                        </thead>
                        @{
                            if (Model?.Cars != null && Model.Cars.Any())
                            {
                                <tbody>
                                    @foreach (var car in Model.Cars)
                                    {
                                        await Html.RenderPartialAsync("_Car", car);
                                    }
                                </tbody>
                            }
                            else
                            {
                                <tfoot>
									<tr style="position: relative">
										<th style="border: 0">
											<div style="position: absolute; width: 100%; left: 0; right: 0; text-align: center">
												No available cars
											</div>
										</th>
									</tr>
								</tfoot>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
